:root {
    /* violet */
    --primary-color: 111, 76, 255;
    /* white */
    --text-color: 256, 256, 256;
}
.main {
    position: absolute;
    margin-left: 25vw;
    margin-right: 25vw;
    left: 0;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: #000000;
    color: white;
    padding: 25px;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}
.neco {
    text-align: center;
}
.neco img {
    width: 72px;
    height: 72px;
}
@media (max-width: 800px) {
    body .main {
        padding: 3%;
        margin: 0;
        margin-left: 0vw;
        margin-right: 0vw;
        width: 94%;
        max-width: 94%;
    }
  }
hr {
    width: 65%;
    border: 2px solid white;
    border-radius: 3px;
    margin-top: 4vw;
    margin-bottom: 4vw;
}
.text-glow {
    text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
}
.text-gradient {
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.codeheader {
    font-family: 'Roboto Mono', sans-serif;
    text-align: center;
}
.btn {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding: 12px 32px;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
}
.btn:hover {
    transition: all 0.3s ease;
}
.btn-primary {
    background-color: rgb(var(--primary-color));
    border: 1px solid rgb(var(--primary-color));
    color: rgb(var(--text-color));
}
.btn-semi-transparent {
    background-color: rgba(var(--primary-color), 0.15);
    border: 1px solid rgba(var(--primary-color), 0.25);
    color: rgba(var(--text-color), 0.8);
}
.btn-semi-transparent:hover {
    background-color: rgba(var(--primary-color), 0.35);
    border: 1px solid rgba(var(--primary-color), 0.5);
    color: rgba(var(--text-color), 0.9);
}
.btn-glow:hover {
    box-shadow: rgba(var(--primary-color), 1) 0px 0px 20px 0px;
}
.btn-gradient {
    background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
    border: 0;
    color: rgba(var(--text-color));
}
.btn-gradient-border {
    color: rgba(var(--text-color));
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
canvas {
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}